<li class="todo-list-li{{#if done}} -done{{/if}}" data-itemId="{{itemId}}">

    <input id="chk-{{itemId}}" class="chk" type="checkbox" {{#if done}}checked{{/if}}/>
    <label for="chk-{{itemId}}"></label>

    <span class="glyphicon glyphicon-resize-vertical todo-list-li-move"></span>
    <a href="/todo/{{listId}}/item/{{itemId}}/" class="todo-list-li-link">
        {{firstRow title}}
    </a>
</li>