<div class="main -logged">
    <nav class="main-header navbar navbar-default navbar-fixed-top">
        <div class="container main-menu-wr clearfix">
            <div class="navbar-header pull-left">
                <div class="navbar-brand main-header-title">
                    <a href="{{url 'static-about'}}" class="">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                </div>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="pull-left -new-list">
                    <a href="{{url 'todo-list-create'}}">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{{t 'layout.new_list'}}}
                    </a>
                </li>
                <li class="pull-left">
                    <a href="{{url 'todo-lists'}}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;{{{t 'layout.lists'}}}</a>
                </li>
                <li class="pull-left">
                    <a href="{{url 'user-profile'}}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{{t 'layout.profile'}}}</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main-wrapper">
        <div class="main-content container"></div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container main-footer"></div>
    </div>
</div>