<div class="main -simple">
    <nav class="main-header navbar navbar-default navbar-fixed-top">
        <div class="container main-menu-wr clearfix">
            <div class="navbar-header pull-left">
                <div class="navbar-brand main-header-title">
                    <a href="{{url 'static-about'}}" class="">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                </div>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="pull-left">
                    <a href="{{url 'user-login'}}">{{{t 'layout.login'}}}</a>
                </li>
                <li class="pull-left">
                    <a href="{{url 'user-register'}}">{{{t 'layout.register'}}}</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main-wrapper">
        <div class="main-content container"></div>
    </div>
</div>