<div class="panel panel-default" id="accordion">
    {{#each data}}
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-{{index}}">
                {{name}}
            </a>
        </h4>
    </div>
    <div id="collapseThree-{{index}}" data-method="{{name}}" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                {{#each links}}
                <li><a href="{{link}}" data-name="{{name}}">{{text}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
</div>