{{#if nested}}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{text}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
			{{#each nested}}
                <li>
					{{#if href}}
                        <a href="{{href}}">{{text}}</a>
					{{else}}
                        <a href="{{url name param1 param2 param3}}">{{text}}</a>
					{{/if}}
                </li>
			{{/each}}
        </ul>
    </li>
{{else}}
    <li>
		{{#if href}}
            <a href="{{href}}">{{text}}</a>
		{{else}}
            <a href="{{url name}}">{{text}}</a>
		{{/if}}
    </li>
{{/if}}