<td>
	{{id}}
</td>
<td>
    <input class="form-control input-sm" type="text" data-attribute="note" value="{{name}}" />
</td>
<td>
    <textarea class="form-control input-sm" data-attribute="note" rows="2">{{{note}}}</textarea>
</td>
<td>
	<button data-id="{{id}}" class="crm-setting-leed-type-save btn btn-success btn-sm"><span class="glyphicon glyphicon-cloud-upload"></span></button>
</td>
<td>
	<button data-id="{{id}}" class="crm-setting-leed-type-remove btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
</td>