mixin panel(name, text)
	.panel.panel-default(id='api-tester-' + name)
		.panel-heading!= text
		pre.panel-body
			block

mixin pre-panel(name, text)
	.panel.panel-default(id='api-tester-' + name)
		.panel-heading!= text
		pre.panel-body
			block

mixin collapsed-panel(name, text, collapsed)
	.panel.panel-default(id=name + '-wr')
		.panel-heading
			span.pull-right
				= ' '
				span.caret
			a.panel-title(data-toggle="collapse", href='#api-tester-' + name, style='display: block')!= text
		.panel-collapse.collapse(id='api-tester-' + name, class=collapsed ? 'in' : '')
			.panel-body
				block


mixin pre-collapsed-panel(name, text, collapsed)
	.panel.panel-default(id=name + '-wr')
		.panel-heading
			span.pull-right
				= ' '
				span.caret
			a.panel-title(data-toggle="collapse", href='#api-tester-' + name, style='display: block')!= text
		.panel-collapse.collapse(id='api-tester-' + name, class=collapsed ? 'in' : '')
			pre.panel-body
				block

mixin run-panel(name, text)
	.panel.panel-default.panel-run(id='api-tester-' + name)
		.panel-heading.clearfix
			span.pull-left!= text
		.panel-body
			.panel-body-content
		//
			.input-group
				.input-group-btn
					button.run-panel-add-button.btn.btn-default.btn-sm(type='button') Add
				select.run-panel-add-button.form-control.input-sm
					option(value='string') String
					option(value='text')  Textarea
					option(value='decimal')  Decimal
					option(value='float')  Float
					option(value='boolean')  Boolean
					option(value='integer')  Integer

mixin raw-panel(name, text)
	.panel.panel-default.panel-raw(id='api-tester-' + name)
		.panel-heading.clearfix
			span.pull-left!= text
			label.pull-right.panel-raw-toggle
				input(type='checkbox',value=1)
				b Raw
		pre.panel-body.-transformed
		pre.panel-body.-raw(style='display:none;')

mixin raw-collapsed-panel(name, text, collapsed)
	.panel.panel-default.panel-raw(id='api-tester-' + name)
		.panel-heading.clearfix
			span.pull-right
				= ' '
				span.caret
			label.pull-right.panel-raw-toggle
				input(type='checkbox',value=1)
				b Raw
			a.panel-title(data-toggle="collapse", href='#api-tester-' + name + '--clps', style='display: block')!= text
		.panel-collapse.collapse(id='api-tester-' + name+ '--clps', class=collapsed ? 'in' : '')
			pre.panel-body.-transformed
			pre.panel-body.-raw(style='display:none;')