mixin panel(name, text)
	.panel.panel-default(id='api-tester-' + name)
		.panel-heading!= text
		pre.panel-body
			block

mixin pre-panel(name, text)
	.panel.panel-default(id='api-tester-' + name)
		.panel-heading!= text
		pre.panel-body
			block

mixin collapsed-panel(name, text, collapsed)
	.panel.panel-default(id=name + '-wr')
		.panel-heading
			span.pull-right
				= ' '
				span.caret
			a.panel-title(data-toggle="collapse", href='#api-tester-' + name, style='display: block')!= text
		.panel-collapse.collapse(id='api-tester-' + name, class=collapsed ? 'in' : '')
			.panel-body
				block
