<div class="user-login">
    <form action="/user/login/" data-name="login" method="POST">
        <br>
        <h1>{{t 'user.login.login'}}</h1>
        <br>
        <br>
        <div class="form-group">
            <label>{{t 'forms.login.login'}}</label>
            <input type="text" name="username" class="form-control input-lg">
        </div>
        <div class="form-group">
            <label>{{t 'forms.login.password'}}</label>
            <input type="password" name="password" class="form-control input-lg">
        </div>
        <div class="form-group text-right">
            <a href="{{url 'user-register'}}" style="margin-right: 30px" class="btn btn-link">{{t 'user.register.register'}}</a>
            <button type="submit" class="login-submit btn-lg btn btn-warning">{{t 'user.login.login'}}</button>
        </div>
    </form>
</div>