<div class="form-control-wr">
	{{#if label}}<label class="form-label">{{label}} <b class="label label-default">{{type}}</b></label>{{/if}}
	<input autocomplete="on" placeholder="{{label}}" type="text" class="form-control input-sm" value="{{value}}" name="{{name}}"/>
</div>