<div class="clearfix form-control-wr">
	{{#if label}}<label for="form-{{name}}">{{label}}</label>{{/if}}
    <label class="pull-left btn btn-sm btn-default">TRUE<input name="{{name}}" type="radio" {{#if value}} checked="checked"{{/if}} value="1"/></label>
    <label class="pull-left btn btn-sm btn-default">FALSE<input name="{{name}}" type="radio" {{#if value}}{{else}} checked="checked"{{/if}} value="0"/></label>
</div>