{{#if label}}<label for="form-{{name}}">{{label}}</label>{{/if}}
<div class="form-control-wr">
    <input autocomplete="on" placeholder="{{placeholder}}" type="{{type}}" class="form-control input-sm" name="{{name}}"/>
</div>