{{#if label}}<label for="form-{{name}}">{{label}}</label>{{/if}}
<div class="form-control-wr">
    <input id="form-{{name}}" autocomplete="off" placeholder="{{placeholder}}" type="{{type}}" class="form-control" name="{{name}}"/>
</div>